@font-face {
  font-family: "IBM Plex Mono";
  src: url("./fonts/IBMPlexMono-Italic.ttf") format("truetype");
}

.Main {
  background: url("./images/interlaced.png");
  font-family: "IBM Plex Mono";
}
